@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
.btn-yellow {
  background-color: var(--mainYellow);
  font-size: 1.2rem;
}
.btn-yellow:hover {
  color: var(--mainYellow);
  background-color: var(--mainBlack);
}
a:link {
  text-decoration: none;
}
.text-yellow {
  color: var(--mainYellow);
}

.banner-product,
.banner-SingleProduct,
.banner-Stored {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.3)
    ),
    url("../img/pageBcg/productsBcg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
}
.banner-SingleProduct {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.3)
    ),
    url("../img/pageBcg/productsBcg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
}
.banner-Stored {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.3)
    ),
    url("../img/pageBcg/productsBcg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
}
/******************* navbar *********************/
.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2rem;
  color: var(--mainYellow) !important;
}
.nav-link {
  font-size: 1.5rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}
.nav-active {
  border-bottom: 0.1rem solid var(--mainYellow);
}
.navbar-icon {
  font-size: 1rem;
}
.navbar-cart-icon {
  color: var(--mainBlack);
  position: relative;
}
.navbar-cart-icon:hover {
  color: var(--mainGrey);
}
.cart-items {
  color: var(--mainWhite);
  position: absolute;
  font-size: 0.5rem;
  padding: 0.2rem 0.2rem;
  top: -20%;
  right: -25%;
  background-color: var(--mainYellow);
  border-radius: 50%;
}
/* end of navbar  */
/***************** banner  ********************/
.banner {
  height: calc(100vh - 101px);
  background: url(../img/pageBcg/bannerBcg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* end of banner */
/* customer service */
.service-icon {
  display: inline-block;
  background-color: var(--mainGrey);
  color: var(--mainYellow);
  padding: 0.5rem 0.6rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

/* end of customer service  */
/*********** catogories section *************/
.catogories-underline {
  height: 0.1rem;
  width: 9.7rem;
  background: var(--mainYellow);
}
.img-container {
  transition: all 1s linear;
}
.catogories-container:hover .img-container {
  opacity: 0.5;
}
.catogories-container {
  position: relative;
}

.catgories-link {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background: var(--mainWhite);
  color: var(--mainBlack);
  padding: 0.8rem 2rem;
  clip-path: polygon(0% 0%, 80% 0, 100% 100%, 0% 100%);
  opacity: 0;
  transition: all 1s linear;
}
.catogories-container:hover .catgories-link {
  opacity: 1;
}
/* end of catogories section */
/* filler  */
.filler {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(../img/home-filler.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 60vh;
}

.filler-link:hover {
  color: var(--mainYellow);
}
.filler-underline {
  height: 0.1rem;
  width: 8rem;
  background: var(--mainYellow);
  margin: 0 auto;
}
/* end of filler */
/**************** feature product ***************/

.feature-container {
  background: var(--TransGrey);
  position: relative;
  overflow: hidden;
}
.feature-search {
  background: var(--mainWhite);
  display: inline-block;
  padding: 0.4rem 0.4rem;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
}
.feature-container:hover .feature-search {
  transform: translateX(0%);
}
.feature-container:hover .featured-store-link {
  transform: translateX(0%);
  color: var(--mainBlack);
}

.featured-store-link {
  background: var(--mainYellow);
  color: var(--mainBlack);
  display: inline-block;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 70%;
  right: 0%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
  text-decoration-style: none;
}
.old-price {
  text-decoration: line-through;
}
/*************** end of feature product ****************/
/* carousel */
#carousel {
  background: var(--TransGrey);
}

.carousel-control-prev {
  font-size: 2.5rem;
  color: var(--mainBlack);
  transform: translateX(-200%);
}
.carousel-control-next {
  font-size: 2.5rem;
  color: var(--mainBlack);
  transform: translateX(200%);
}

/* end of carousel */
/************* newsLetter *************/
.form-icon {
  background-color: var(--mainGrey);
}
/* end of newsletter */
/**************** skill ******************* */
#skill {
  background: var(--mainBlack);
}
.skill-icon {
  font-size: 2rem;
  color: var(--mainYellow);
}
/************** end of skill *******************/
/* *************footer section ***************/
#footer {
  background: var(--mainBlack);
}
.footer-title {
  color: var(--mainYellow);
  border: 3px solid var(--mainYellow);
  padding: 0.8rem;
}
.footer-icon,
.contact-icon {
  color: var(--mainYellow);
  font-size: 0.8rem;
}
.footer-icon:hover {
  color: var(--mainBlack);
  background-color: var(--mainYellow);
}
/* *************end of footer section ***************/
/*****************product page ******************/
.product-underline {
  width: 12rem;
  height: 0.1rem;
  background: var(--mainYellow);
}
.categorie-link {
  color: var(--mainBlack);
}
.product-color {
  width: 1rem;
  height: 1rem;
}
.product-color-black {
  background: var(--mainBlack);
}
.product-color-red {
  background: red;
}
.product-color-yellow {
  background: yellow;
}
.product-color-blue {
  background: blue;
}
.product-color-green {
  background: green;
}

/********end of product page ********************/
/**************** single product page **************/
.small-product-photo{
   background: var(--TransGrey);
   opacity: .7;
   transition: all .3s linear;
   border:.2rem solid transparent;
   
}
.small-product-photo:hover{
  border:.1rem solid var(--mainYellow);
  opacity: 1;

}
.rating-color{
  color:var(--mainYellow);
}
.btn-black {
 
  border: 0.2rem solid var(--mainBlack);
  font-size: 1.2rem;
  

}
.btn-black:hover {
   background: var(--mainBlack);
   color:var(--mainWhite);
}
.fas{
   background:var(--mainYellow)!important;
}
 /* info section */
  .bg-infos{
      background:var(--TransGrey);
      min-height: 50vh;
  }
 /* end info section */
/********** end of single product page **************/
